.EditTitle {
  margin-bottom: 1rem;
}

.EditSchedulesContainer {
  display: flex;
  align-items: center;
  align-content: center;
}

.SchedulesForm {
  width: 100%;
  border: 1px solid #ced4da;
  border-radius: var(--border);
  padding: 1rem 0.5rem;
}

.dropdown {
  border: 1px solid #ced4da;
  border-radius: var(--border);
}

.dropdown button, .dropdown button:hover {
  color: #495057
}

.MultiSelect > svg {
  width: 30px;
}

.ScheduleInfoItem {
  display: flex !important;
  justify-content: space-between;
  align-items: center;
}

.ScheduleBadge {
  margin-right: 0.5rem;
}

.EditCol {
  margin-bottom: 1rem;
}

.LoaderContainer {
  width: 100%;
  height: 100%;
  padding-top: 3rem;
  display: flex;
  justify-content: center;
}