#Title {
  margin-right: 0.5rem;
}

#TitleSection {
  display: flex;
  align-content: center;
  align-items: center;
}

#TemperatureCelsius {
  margin-right: 0.5rem;
}

.HeaderButton {
  font-weight: bold;
}

.TempSelected {
  color: var(--primary);
  font-weight: bolder;
}

#FilterLabel {
  margin-right: 0.5rem;
}

.NavbarRow {
  width: 100vw; 
  align-items: center;
}

.NavbarCol {
  align-items: center;
}

#NavbarForm {
  justify-content: flex-end;
  align-content: center;
}