:root {
  --border: 0.25rem;
}

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.rbc-time-view .rbc-row {
  display: none;
}

.rbc-event {
  background-color: #D0EBE4 !important;
  color: #000 !important;
  border-radius: var(--border) !important; 
  border: none !important;
  border-left: 0.5rem solid var(--success) !important;
  transition: background-color 0.9s cubic-bezier(0.215, 0.610, 0.355, 1);
}

.rbc-event:hover {
  background-color: #88F9BA !important;
}

.rbc-time-view .rbc-row div:nth-child(1) {
  display: none !important;
}

.AppContainer {
  padding: 2rem 1.5rem;
}